 body {
 font-family: Arial, sans-serif;
 margin:0;
 padding:0;
 background-color: #e8e8e8;
 color: #000000;
 }
        
 .top-panel {
 background-color: #ff0000;
 color: #02b3ff;
 padding: 10px;
 text-align: center;
 }
        
 .top-panel a {
 color: #000000;
 text-decoration: none;
 margin: 0 20px;
 }
